.container {
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.labels {
  font-size: 36px;
}

.input {
  background-color: black;
  color: white;
  border: none;
  border-bottom: grey solid 2px;
  font-weight: 200;
  font-size: 36px;
  margin-bottom: 12px;
  width: 300px;
}

.input:focus {
  outline: none;
  color: white;
  border-bottom: white solid 2px;
}

.input:focus::placeholder {
  color: transparent;
}

.errorMessage {
  color: red;
  margin: 0;
}

.submitButton {
  color: white;
  background-color: black;
  border: white solid 1px;
  border-radius: 30px;
  font-size: 24px;
  align-self: flex-start;
  padding: 10px 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
