.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  border: none;
  border-bottom: black solid 2px;
  text-align: center;
  font-weight: 400;
}

.submitButton {
  background-color: white;
  border: none;
  padding: 15px 32px;
}
