.container {
  padding: 30px 40px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  gap: 40px;
}

.text {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 20px;
}

.logoText {
  font-weight: 900;
  font-size: 24px;
  text-decoration: none;
  color: black;
}
