.container {
  padding: 60px 100px;
  display: flex;
  flex-wrap: wrap;
  animation: fadein ease-in-out 2s;
}

.word {
  color: rgb(152, 152, 152);
  font-size: 24px;
  margin: 0px 12px 12px 0;
  word-break: break-all;
}

.word {
  position: relative;
  display: inline-block;
}

.word .wordHover {
  visibility: hidden;
  min-width: 240px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.word:hover .wordHover {
  visibility: visible;
}

.word:hover {
  color: white;
}
.hoverText {
  font-size: 20px;
}

@media only screen and (max-width: 700px) {
  .container {
    padding: 60px 40px;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}